
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


:root{
    /* for colors */
    /* progress line colors */
    --light-progress-line:#d1fae5;
    --darker-progress-line:#34d399;
    --white-color:#ffff;
    --faded-back-line:#e5e7eb;
    --text-color:#d1d5db;

    /* circle-colors */

}


body{
    height: 100vh;

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;


}

.main-container{
    /* border: 2px solid black; */
    text-align: center;
}

.progress-container{

    /* border: 2px solid pink; */

    display: flex;
    justify-content:space-between;


    position: relative;

    max-width: 100%;
    width: 350px;
    margin-bottom: 30px;
}

/* there will be exact white line in the back side of progress container */

.progress-container::before{
    content: '';
    height: 4px;
    width:100%;
    background-color: var(--faded-back-line);

    position: absolute;
    top: 50%;
    left: 0;
    z-index:-1;
    transform: translateY(-50%);
    /* transition-property: width; */

 
}



.progress-line{
    height: 4px;
    width:0%;
    background-color: var(--darker-progress-line);

    position: absolute;
    top:50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    /* transition-property: width; */
    transition: 0.4s ease;
    /* transition: 3000ms border ease-out; */

 
}




/* circles */


.circle{
    height:30px;
    width: 30px;
    border-radius: 50%;
    background-color:var(--white-color);
    color: var(--text-color);
    border: 2px solid var(--faded-back-line);

      display: flex;
    justify-content: center;
    align-items: center;

    /* transition: 3000ms border ease; */
    transition: 0.4s ease;
}


.circle-active{
    border: 2px solid var(--darker-progress-line);
    color: var(--darker-progress-line);
}


.btn{

    background-color: var(--darker-progress-line);
    color:var(--white-color);
    border:none;
    border-radius: 3px;

    padding: 4px 7px;
    font-family: inherit;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;


}

/* pseudo-class will be added --active and focus */

.btn:active{
    transform: scale(0.92);
}


.btn:disabled{
    background-color: var(--light-progress-line);
    cursor: not-allowed;
}
